.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-div {
  /* margin: auto; */
  width: 100%;
  text-align: center;
  border-color: grey 1px;
}
.form-div2 {
  /* margin: auto; */
  width: 100%;
  text-align: center;
}

.nav-text {
  color: white;
}
main {
  padding: 10px;
  text-align: center;
}
.table {
  justify-content: center !important;
}
.login {
  width: 50%;
  text-align: center;
}
.about-car {
  margin: auto;
  width: 75%;
}
/* .tax-steps {
  margin: auto;
  width: 75%;
} */

.info-div {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* margin: auto; */
}
p {
  text-align: left;
}
.list-group2 {
  width: 25%;
}
body {
  /* background: radial-gradient(600px at 50% 50%, #fff 20%, #000 100%); */
  background-color: darkgray;
}
.lern-tax-about {
  border: solid black 1px;
  padding-top: 10px;
}
.example {
  border: solid yellow 2px;
  margin-bottom: 5px;
}

.header {
  margin-bottom: 0;
  background: radial-gradient(
    600px at 50% 50%,
    rgba(255, 255, 255, 0.87) 20%,
    rgba(0, 0, 0, 0.959) 100%
  );
}
.liners {
  border-color: black;
}

tr,
td {
  font-size: 0.75rem;
}
.small-p {
  text-align: center;
  font-size: 1rem;
}
.small-p2 {
  text-align: left;
  font-size: 1.5rem;
}
/* footer {
  position: absolute;
  background: white;
  bottom: 0;
  width: 100%;
  height: 2rem;
} */
.footer {
  border-top: black 2px;
}
span {
  color: blue;
}
span:hover {
  color: red;
  cursor: pointer;
  margin-left: 0.25rem;
}
i {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
.dependent-cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 576px) {
  .header {
    padding: 1.5rem 1.5rem;
  }
  .jumbotron {
    margin-bottom: 0;
  }
  .dependent-cards {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .footer {
    border-top: black 2px;
  }
  .lines {
    border-color: black 1px;
  }
  .form-div {
    margin: auto;
    width: 50%;
    text-align: center;
    border-color: grey 1px;
  }
  .form-div2 {
    margin: auto;
    width: 75%;
    text-align: center;
  }
  main {
    padding: 50px;
    text-align: center;
  }
  tr,
  td {
    font-size: 1rem;
  }
  .tax-steps {
    margin: auto;
    width: 75%;
  }
  p {
    font-size: 1.5rem;
  }
}
